.tarjeta-par {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background: #F78B64;
  margin-top: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  animation-duration: 3s;
  animation-name: slideinl;
  @keyframes slideinl {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  &:hover {
    transform: translateY(-8px);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  }

  h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
  }

  .estrellas {
    display: flex;
    font-size: 20px;
  }
  .estrellas button {
    background-color: initial;
    border: 0;
    color: rgb(255, 215, 0);
    transition: 0.5s all;
    font-weight: bold;
  }
  .estrellas button:active, button:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  button:nth-child(1):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(2):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(3):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(4):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(5):hover ~ button {
    transform: rotate(360deg);
  }

  .btn-more-info {
    text-decoration: none;
    color: #351E43;
    font-weight: bold;
    font-size: 18px;
    background: #FCE9E6;
    border-radius: 36px;
    padding: 12px 24px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

  .img-sm {
    border-radius: 15px ;
    width: 150px;
    vertical-align: middle;
    border-style: none;
    box-shadow: 0px 10px 10px -6px black;
  }
}

.second-card-impar {
  position: absolute;
  bottom: -15%;
  z-index: -1;
  background: #8E6AB0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  pointer-events: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.second-card-par {
  position: absolute;
  bottom: -15%;
  z-index: -1;
  background: #F78B64;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  pointer-events: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.tarjeta-impar {
  position: relative;
  width: 100%;
  height: 190px;
  border-radius: 20px;
  background: #8E6AB0;
  margin-top: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  animation-duration: 3s;
  animation-name: slideinr;
  @keyframes slideinr {
    from {
      margin-right: 100%;
      width: 100%;
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  &:hover {
    transform: translateY(-8px);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  }

  h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
  }

  .estrellas {
    display: flex;
    font-size: 20px;
  }
  .estrellas button {
    background-color: initial;
    border: 0;
    color: rgb(255, 215, 0);
    transition: 0.5s all;
  }
  .estrellas button:active, button:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  button:nth-child(1):active ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(2):active ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(3):active ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(4):active ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(5):active ~ button {
    transform: rotate(360deg);
  }

  .btn-more-info {
    text-decoration: none;
    color: #351E43;
    font-weight: bold;
    font-size: 18px;
    background: #FCE9E6;
    border-radius: 36px;
    padding: 12px 24px;
    transition: 1s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

  .img-sm {
    border-radius: 15px ;
    width: 150px;
    vertical-align: middle;
    border-style: none;
    box-shadow: 0px 10px 10px -6px black;
  }
}

@media(max-width: 768px) {
  .tarjeta-par {
    &:hover {
      transform: none;
    }
    &:active {
      transform: translateY(-8px);
      box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    }
  }
  .tarjeta-impar {
    &:hover {
      transform: none;
    }
    &:active {
      transform: translateY(-8px);
      box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    }
  }
}

.area{ 
  width: 100%;
  position: sticky;
  top: 0;
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}