p {
  font-weight: 500;
  text-align: justify;
  margin-bottom: 0rem !important;
  word-break: break-all;
}
.texto {
  color: white;
}
.br {
  border-radius: 8px;
}
.tarjeta-title-rating {
  width: 100%;
  border-radius: 20px;
  color: #322222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #8E6AB0;
  
  .tarjeta-title-rating {
    font-size: 22px;
    font-weight: bold;
  }

  .estrellas {
    display: flex;
    justify-content: space-evenly;
    font-size: 36px;
  }
  .estrellas button {
    background-color: initial;
    border: 0;
    color: rgb(255, 215, 0);
    transition: 0.5s all;
  }
  .estrellas button:active, button:hover {
    cursor: pointer;
    transform: rotate(360deg);
    color: yellowgreen;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0009);
  }
  button:nth-child(1):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(2):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(3):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(4):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(5):hover ~ button {
    transform: rotate(360deg);
  }
}

.boton {
  position: relative;
}
.btn-start {
  position: absolute;
  color: #ffffff !important;
  font-weight: bolder;
  font-size: 24px;
  background: #F78B64;
  border-radius: 36px;
  padding: 14px 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 500px) {
  .btn-start {
    bottom: -10%;
  }
}

@media (max-width: 499px) {
  .btn-start {
    bottom: -12%;
  }
}

@media (min-width: 768px) {
  .btn-start {
    bottom: -8%;
  }
}
h2, h3 {
  color: #322222;
}
.tarjeta-description {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 20px;
  background: #fff;
  color: #322222;
}
.tarjeta-locat {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 20px;
  background: white;
  color: #322222;
}

.s-area{ 
  width: 100%;
  position: sticky;
  top: 0;
}
.s-circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.s-circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #f3968a;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.s-circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.s-circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.s-circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.s-circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.s-circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.s-circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.s-circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.s-circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.s-circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.s-circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}