h2 {
  color: white !important;
}
p {
  font-weight: 500;
  text-align: justify;
}
.br {
  border-radius: 8px;
}
.tarjeta-title-rating {
  width: 100%;
  border-radius: 20px;
  color: #322222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #8E6AB0;
  
  .tarjeta-title-rating {
    font-size: 22px;
    font-weight: bold;
  }

  .estrellas {
    display: flex;
    justify-content: space-evenly;
    font-size: 36px;
  }
  .estrellas button {
    background-color: initial;
    border: 0;
    color: rgb(255, 215, 0);
    transition: 0.5s all;
  }
  .estrellas button:active, button:hover {
    cursor: pointer;
    transform: rotate(360deg);
    color: yellowgreen;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0009);
  }
  button:nth-child(1):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(2):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(3):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(4):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(5):hover ~ button {
    transform: rotate(360deg);
  }
}

.boton {
  position: relative;
}
.btn-start {
  position: absolute;
  color: #ffffff !important;
  font-weight: bolder;
  font-size: 24px;
  background: #F78B64;
  border-radius: 36px;
  padding: 14px 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 500px) {
  .btn-start {
    bottom: -10%;
  }
}

@media (max-width: 499px) {
  .btn-start {
    bottom: -12%;
  }
}

@media (min-width: 768px) {
  .btn-start {
    bottom: -8%;
  }
}
h2, h3 {
  color: #322222;
}
.tarjeta-description {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 20px;
  background: #fff;
  color: #322222;
}
.tarjeta-locat {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 20px;
  background: white;
  color: #322222;
}