p {
  font-weight: 500;
  text-align: justify;
  margin-bottom: 0rem !important;
  word-break: break-all;
}
.texto {
  color: #322222;
  font-weight: 600;
  text-align: center;
}
.linea {
  border-bottom: 1px solid #a79e9e9e;
  width: 100%;
}
.sm-carrusel {
  border-radius: 8px;
  height: 280px !important;
  width: 100% !important;
}
.lg-carrusel {
  border-radius: 8px;
  height: 75vh !important;
  width: 100% !important;
  object-fit: cover;
}
@media (max-width: 575px) {
  .lg-carrusel {
    height: 280px !important;
    width: 100% !important;
    border-radius: 8px;
  }
  .sm-carrusel {
    border-radius: 8px;
    height: 200px !important;
    width: 100% !important;
  }
}

.boton {
  position: relative;
}
.btn-start {
  position: absolute;
  color: #ffffff !important;
  font-weight: bolder;
  font-size: 24px;
  background: #F78B64;
  border-radius: 36px;
  padding: 14px 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  bottom: -26px;
}

@media (min-width: 500px) {
  .btn-start {
    bottom: -5%;
  }
}

@media (max-width: 499px) {
  .btn-start {
    bottom: -9%;
  }
}

@media (min-width: 768px) {
  .btn-start {
    bottom: -5%;
  }
}
h2, h3 {
  color: #322222;
}
.tarjeta {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 20px;
  background: #fff;
  color: #322222;
  .estrellas {
    display: flex;
    justify-content: space-evenly;
    font-size: 32px;
    .bi {
      color: #F78B64;
    }
  }
  .estrellas button {
    background-color: initial;
    border: 0;
    color: #F78B64;
    transition: 0.5s all;
  }
  .estrellas button:active, button:hover {
    cursor: pointer;
    transform: rotate(360deg);
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0009);
  }
  button:nth-child(1):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(2):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(3):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(4):hover ~ button {
    transform: rotate(360deg);
  }
  button:nth-child(5):hover ~ button {
    transform: rotate(360deg);
  }
}

.s-area{ 
  width: 100%;
  position: sticky;
  top: 0;
}
.s-circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.s-circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #f3968a;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.s-circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.s-circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.s-circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.s-circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.s-circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.s-circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.s-circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.s-circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.s-circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.s-circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.s-circles li:nth-child(11){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.s-circles li:nth-child(12){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.s-circles li:nth-child(13){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.s-circles li:nth-child(14){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}