.tarjeta-par {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    background: #F78B64;
    margin-top: 47px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    &:hover {
        // -webkit-box-shadow: inset 0px 0px 20px 5px rgba(178,232,255,1);
        // -moz-box-shadow: inset 0px 0px 20px 5px rgba(178,232,255,1);
        // box-shadow: inset 0px 0px 20px 5px rgba(178,232,255,1);
        transform: translateY(-10px);
        // -webkit-box-reflect: above 0px linear-gradient(transparent, #0009);
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 22px;
        font-weight: bold;
    }

    .estrellas {
        display: flex;
        font-size: 25px;
    }
    .estrellas button {
        background-color: initial;
        border: 0;
        color: #8E6AB0;
        transition: 0.5s all;
    }
    .estrellas button:active, button:hover {
        cursor: pointer;
        transform: rotate(360deg);
    }
    button:nth-child(1):hover ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(2):hover ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(3):hover ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(4):hover ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(5):hover ~ button {
        transform: rotate(360deg);
    }

    .btn-more-info {
        text-decoration: none;
        color: #351E43;
        font-weight: bold;
        font-size: 18px;
        background: #FCE9E6;
        border-radius: 36px;
        padding: 12px 24px;
    }

    .img-sm {
        border-radius: 15px ;
        width: 150px;
        vertical-align: middle;
        border-style: none;
    }
}

.tarjeta-impar {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    background: #8E6AB0;
    margin-top: 47px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    &:hover {
        // -webkit-box-shadow: inset 0px 0px 20px 5px rgba(178,232,255,1);
        // -moz-box-shadow: inset 0px 0px 20px 5px rgba(178,232,255,1);
        // box-shadow: inset 0px 0px 20px 5px rgba(178,232,255,1);
        transform: translateY(-10px);
        // -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 22px;
        font-weight: bold;
    }

    .estrellas {
        display: flex;
        font-size: 24px;
    }
    .estrellas button {
        background-color: initial;
        border: 0;
        color: #ffffff;
        transition: 0.5s all;
    }
    .estrellas button:active, button:hover {
        cursor: pointer;
        transform: rotate(360deg);
    }
    button:nth-child(1):active ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(2):active ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(3):active ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(4):active ~ button {
        transform: rotate(360deg);
    }
    button:nth-child(5):active ~ button {
        transform: rotate(360deg);
    }

    .btn-more-info {
        text-decoration: none;
        color: #351E43;
        font-weight: bold;
        font-size: 18px;
        background: #FCE9E6;
        border-radius: 36px;
        padding: 12px 24px;
    }

    .img-sm {
        border-radius: 15px ;
        width: 150px;
        vertical-align: middle;
        border-style: none;
    }
}

@media(max-width: 768px) {
    .tarjeta-par {
        &:hover {
            transform: none;
        }
        &:active {
            transform: translateY(-10px);
            // -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
        }
    }
    .tarjeta-impar {
        &:hover {
            transform: none;
        }
        &:active {
            transform: translateY(-10px);
            // -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
        }
    }
}
