<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fal fa-reply-all"></i></a>
    <a href="#"><i class="far fa-home"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to your destination faster with <em>US</em>
  </div>
</div>
