<div class="footer">
  <div class="footer-links row justify-content-center">
    <a href="#"><i class="fas fa-reply"></i></a>
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-map-marked"></i></a>
    <a href="#"><i class="fas fa-search-location"></i></a>
  </div>
</div>
