<div class= "banner container-fluid vh-100 m-0">
  <div class="container">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <h1>CAMINANTE!</h1>
    <div class="par d-none d-md-block">
    <%= "Do you want to make each of those adventures that come to mind come true?" %>
    </div>
    <%= link_to "Start Adventure", tours_path, class: "btn btn-ghost" %>
  </div>
</div>
