<div style="position: relative">
  <div class= "banner">
    <div class="container">
      <h1>Cam<i class="fas fa-walking"></i>nante</h1>
    </div>
    <div class="bt-baner">
      <%= link_to "Start Adventure", tours_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
