<div class="banner-index mb-2">
  <div class="container text-center">
    <h1>Available Tours</h1>
    <p>Travel with us, Travel with <strong><em>Caminante!</em></strong></p>
  </div>
</div>
<div>
  <div class="area" >
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="container">
    <div class="row justify-content-center">
			<div class="col-lg-6 col-sm-4 col-sm-offset-4 justify-content-center d-flex flex-column align-items-center">
        <% if @tours.empty? %>
          <h2 class="d-flex justify-content-center align-items-center bg-white p-2 rounded"><strong>Looks like we didn't find your Tour, sorry 😥</strong></h2>
        <% end %>
        <% @tours.each_with_index do |tour|%>
          <div class="card-body tarjet mt-1 mb-3">
            <h1 class="text-center"><%= tour.name%></h1><br>
            <% if tour.photos.empty? %>
              <%= image_tag "https://res.cloudinary.com/alexisgonzalez/image/upload/v1636379457/location_placeholder_gjvdk4.jpg", alt: "Tour", class: "img" %>
            <% else %>
              <%= cl_image_tag tour.photos.first.key, class: "img" %><br>
            <% end %>
            <div class="d-flex justify-content-around mt-3">
              <div class="estrellas">
                <button>
                  <i class="bi bi-star-fill"></i>
                </button>
                <button>
                  <i class="bi bi-star-fill"></i>
                </button>
                <button>
                  <i class="bi bi-star-fill"></i>
                </button>
                <button>
                  <i class="bi bi-star-fill"></i>
                </button>
                <button>
                  <i class="bi bi-star-fill"></i>
                </button>
              </div> <!-- estrellas -->
              <%= link_to "More Info", tour_path(tour), class: "btn-more-info" %>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    </div>
  </div> <!-- container -->
</div>
