<h1>Hola estoy en el index</h1>

<div class="container">
    <div class="row">
        <% if @tours.empty? %>
            <h1 class="row justify-content-around">Looks like we didn't find your Motorcycle mate, sorry 😥</h1>
        <% end %>
    </div>
</div>