.footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1055;

  .fas {
    color: #322222;
    font-size: 26px;
    padding: 15px 30px;
      &:hover {
      color: #e15b48;
      font-weight: bold;
    }
  }
}
