.footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1055;
  padding: 5px 0px;

  .bi {
    color: #322222;
    font-size: 31px;

    padding: 23px 30px;
      &:hover {
      color: #e15b48;
      font-weight: bold;
    }
  }
}
