.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
 color: #322222;
 font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #322222;
  font-weight: bold;
      &:hover {
      color: #fce9e6;
      font-weight: bold;
      background-color: #e15b48;
      border-radius: 7px;
    }
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #322222;
    &:hover {
      color: #fce9e6;
      font-weight: bold;
      background-color: #e15b48;
    }
}

.dropdown-menu {
  background-image: #fce9e6;
}

.dropdown-item {
  color: #322222;
  font-weight: bold;
    &:hover {
    color: #fce9e6;
    font-weight: bold;
    background-color: #e15b48;
  }
}

.navbar-color{
  background-color: white;
  color: #fce9e6;
}
