.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(0, #787874 0, #505467 25%, #1f3259 50%, #00154b 75%, #00003e 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
 color: #fce9e6;
 font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #fce9e6;
  font-weight: bold;
      &:hover {
      color: #fce9e6;
      font-weight: bold;
      background-color: #e15b48;
      border-radius: 7px;
    }
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fce9e6;
    &:hover {
      color: #fce9e6;
      font-weight: bold;
      background-color: #e15b48;
    }
}

.dropdown-menu {
  background-image: linear-gradient(0, #787874 0, #505467 25%, #1f3259 50%, #00154b 75%, #00003e 100%);
}

.dropdown-item {
  color: #fce9e6;
  font-weight: bold;
    &:hover {
    color: #fce9e6;
    font-weight: bold;
    background-color: #e15b48;
  }
}

.navbar-color{
  background-image: linear-gradient(0, #787874 0, #505467 25%, #1f3259 50%, #00154b 75%, #00003e 100%);
}
