.form-standard {
  color: #322222;
  background-color: white;
  padding: 21px 20px;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn-create-tour {
    width: 100%;
    background-color: #E15B48;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
  }
  .btn-login {
    width: 100%;
    background-color: #E15B48;
    margin-top: 20px;
    // margin-bottom: 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    padding: 10px 16px;
  }
  .btn-sign-up {
    padding: 10px 16px;
    background-color: #F78B64;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  .btn-password {
    padding: 10px 16px;
    background-color: #AA629F;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
}
